@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Rubik-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'go3v2';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/go3v2.ttf') format('truetype');
}
