<div class="container-fluid p-0 content">
    <img class="background" src="/img/background.png" alt="back">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <img class="logo" src="/img/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <div class="content__date">from to {date} to {date} only!</div>
                <div class="content__title">Get free spins when you register</div>
                <div class="content__subtitle">Start with 20 NDFS on Fire Lighting</div>
                <button class="btn btn--filled-primary big">Become a Ninja</button>
                <div class="content__bonus">with <span class="content__bonus-code">HALLFULL</span> bonus code</div>
            </div>
        </div>
    </div>
    <div class="container features">
        <div class="row">
            <div class="col-xl-4 features__block">
                <img class="features__img" src="/img/half_full_glass_first.png" alt="first">
                <div>120% Half Full Glass first deposit bonus</div>
            </div>
            <div class="col-xl-4 features__block">
                <img class="features__img" src="/img/half_full_glass_second.png" alt="second">
                <div>100% Half Full Glass second deposit bonus  and 50 free spins</div>
            </div>
            <div class="col-xl-4 features__block">
                <img class="features__img" src="/img/half_full_glass_third.png" alt="third">
                <div>80% Half Full Glass third deposit bonus  and 50 free spins (Bgaming: Deep Sea, Four Lucky Clover)</div>
            </div>
        </div>
    </div>
</div>
